
.container {
  position: relative;
  width: 100%;
}

.container-logo{
  display: flex; 
  justify-content: 'center'; 
  border-radius: 2rem; 
  margin-left: -1rem;
}

.image-main {
  height: 6rem; 
  margin: 3rem 0; 
  display: flex; 
  align-items: 'center'; 
  filter: drop-shadow(2px 4px 6px #3b3f42);
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 270px;
  height: 100%;
  background: var(--green);
  border-left: 10px solid var(--green);
  transition: 0.5s;
  overflow: scroll;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--base);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #F8F9FB;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--green);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon {
  font-size: 1.7rem;
  margin-top: -5px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--base);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--base);
  pointer-events: none;
}
.navigation ul li.active a::before,
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--base);
  pointer-events: none;
}

.navigation ul li.active a::after,
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--base);
  pointer-events: none;
}

.navigation ul li.active a::before,
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--base);
  pointer-events: none;
}

.navigation ul li.active a::after,
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--base);
  pointer-events: none;
}


/* ===================== Main ===================== */
/* codigo para que se mantenga con el color */
.navigation ul li.active {
  background-color: var(--base);

}

.navigation ul li.active a {
  color: var(--green);
}
/*--------------------------------------------------*/
.main {
  position: absolute;
  width: calc(100% - 270px);
  left: 270px;
  min-height: 100vh;
  transition: 0.5s;
  background-color: var(--base);
  
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
  background-color: #F8F9FB;
}

.active .image-main {
  margin: -1rem 0;
  visibility: hidden;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom-left-radius: 15px;
  /* box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px; */
  box-shadow: rgba(17, 17, 26, 0.1) 1px 1px 8px;
  background-color: white;
  position: fixed;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color:black;
  cursor: pointer;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-main{
  margin: 0 1rem;
  color: #414248;
  font-weight: bold;
  font-size: 1.2rem;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -270px;
  }

  .navigation.active {
    width: 270px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 270px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }

  .recentOrders {
    overflow-x: auto;
  }

  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

.container-oulet-main{
  margin-top: 5rem;
  padding: 1rem;
  /* background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px; */
  border-radius: 20px;
  max-width: 100%;
  box-sizing: border-box;
}


/* Estilos generales que ocultan el scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}


[class*="MuiPaper-root"]::-webkit-scrollbar {
  width: 8px !important; 
  height: 6px !important;
}

[class*="MuiPaper-root"]::-webkit-scrollbar-thumb, HotTable {
  background: #888 !important; 
  border-radius: 10px !important; 
}


.container-screen .wtHolder::-webkit-scrollbar {
  width: 8px !important; 
  height: 8px !important; 
}

.container-screen .wtHolder::-webkit-scrollbar-thumb {
  background: #888 !important; 
  border-radius: 10px !important; 
}

.container-screen .wtHolder::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}




/*BTN SWITCH DIA/NOCHE*/

.switch {
  font-size: 17px;
  position: fixed;
  right: 0;
  margin-top: -1rem;
  margin-right: 1.6rem;
  display: inline-block;
  width: 64px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 1.3rem;
  height: 22px;
  margin-top: -0.2rem;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 18px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}


.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}



.btn-main{
  background-color: red;
  color: white;
  height: 1.5rem;
  border: none;
  margin-left: 0.8rem;
  width: 1.5rem;
  border-radius: 50%;
}